internal/test/data/cache.json

dist/
.release-env

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
github_token
/nom

# local dev/docker artifacts referenced in README docs
config.yml
my-nom-config.yml
nom.db
nom-data/
